<nav>
   <div class="container">
      
      <a href="/" class="brand-logo"><img src="/images/logo.jpg" alt="logo"/></a>
      <a data-target="side-out" class="sidenav-trigger"><i class="fa fa-bars fa-lg"></i></a>
      <ul class="right hide-on-med-and-down">

         {{#if isAuth}}

         {{#if isProfile}}
         <li class="active"><a href="/profile">Профиль</a></li>
         {{else}}
         <li><a href="/profile">Профиль</a></li>
         {{/if}}

          

         {{#if isApplications}}
         <li class="active"><a href="/applications">Заявки</a></li>
         {{else}}
         <li><a href="/applications">Заявки</a></li>
         {{/if}}

         

         {{else}}
         {{#if isLogin}}
         <li class="active"><a href="/auth/login#login">Вход</a></li>
         {{else}}
         <li><a href="/auth/login#login">Вход</a></li>
         {{/if}}

         {{/if}}
      </ul>
   </div>
   
</nav>

<ul id="side-out" class="sidenav">
            {{#if isHome}}
         <li class="active"><a href="/">Главная</a></li>
         {{else}}
         <li><a href="/">Главная</a></li>
         {{/if}}

         {{#if isAuth}}

         {{#if isPrivate}}
         <li class="active"><a href="/private">Private</a></li>
         {{else}}
         <li><a href="/private">Private</a></li>
         {{/if}}

         <li><a href="auth/logout">Выйти</a></li>

         {{else}}
         {{#if isLogin}}
         <li class="active"><a href="/auth/login#login">Вход</a></li>
         {{else}}
         <li><a href="/auth/login#login">Вход</a></li>
         {{/if}}

         {{/if}}
  </ul>