<div>
   <div class="col s6 avatar-container">
      {{#if user.avatarUrl}}
         <img
            class="avatar"
            src="/{{user.avatarUrl}}"
            alt="аватар-{{user.name}}"
         />
      {{else}}
         <p>Аватара нет</p>
      {{/if}}
   </div>

   <div class="col s6">
      <div class="profile-info">
         <div class="user-name"><b>{{user.name}}</b></div>
         <p><strong>{{user.email}}</strong></p>
      </div>

      <ul class="profile-nav">
         <div class="section">
            <li><a href="/books">Китаплар</a></li>
         <li><a href="/add">Китапны кушырга</a></li>
         <li><a href="/interactives">Интерактивлар</a></li>
          {{#if @root.isAuthor}}
            <li><a href="/interactives/add/{{user._id}}">Интерактив ясарга</a></li>
         {{/if}}
         </div>
         {{#if @root.isAuthor}}
         {{else}}
         
         <div class="section">
               <li><a href="/verification/{{user._id}}">Автор булу</a></li>
               <li><a href="/firstSteps" target="_blank">Беренче адымнар</a></li>
         </div>
         {{/if}}
         
         <div class="section">
            <li><a href="/settings">Көйләнеш</a></li>
            {{#if isAuth}}
               <li class="logout"><a href="auth/logout"><b>Чыгарга</b></a></li>
            {{/if}}
         </div>
      </ul>

   </div>
</div>