<div>
   <div class="col s6 avatar-container">
      {{#if user.avatarUrl}}
         <img
            class="avatar"
            src="/{{user.avatarUrl}}"
            alt="аватар-{{user.name}}"
         />
      {{else}}
         <p>Аватара нет</p>
      {{/if}}
   </div>

   <div class="col s6">
      <div class="profile-info">
         <div class="user-name"><b>{{user.name}}</b></div>
         <p><strong>{{user.email}}</strong></p>
      </div>

      <ul class="profile-nav">
         <div class="section">
            <li><a href="/books">Книги</a></li>
         <li><a href="/add">Добавить книгу</a></li>
         <li><a href="/interactives">Интерактивы</a></li>
          {{#if @root.isAuthor}}
            <li><a href="/interactives/add/{{user._id}}">Создать интерактивную
                  книгу</a></li>
         {{/if}}
         </div>
         {{#if @root.isAuthor}}
         {{else}}
         
         <div class="section">
               <li><a href="/verification/{{user._id}}">Стать автором</a></li>
               <li><a href="/firstSteps" target="_blank">Первые шаги</a></li>
         </div>
         {{/if}}
         
         <div class="section">
            <li><a href="/settings">Настройки</a></li>
         </div>
      </ul>

   </div>
</div>